@import url(https://fonts.googleapis.com/css?family=Quicksand);

#square{width:30px;
		height: 30px;
		background: purple;
		border-radius: 5px;
		margin-top: 10px;
		margin-left: 10px;
		position: fixed;}

.container{width:100vw;
			height:100%;}

.jumbotron{width:100vw;
		   height:100vh; 
		   margin-bottom: 0px;
		   background: url('http://56.media.tumblr.com/b0912c8bfa885b0121386dc5d5a74f95/tumblr_nm1xyuOTGF1r88099o1_1280.jpg') no-repeat center;}

.talk{display: inline-block;
	margin: 10px;}

a:hover{color:gray;
	    opacity: 0.6;
	    text-decoration:none;}

.navbar{background-color: black;
	    width: 100vw;
	    margin-top: 0px;
	    padding-top: 10px;
	    padding-bottom: 10px;}

.link1{font-size: 20px;
	   color: white;
	   text-align: left;
	   margin-left: 120px;
	   margin-bottom: 30px;}

.link2{font-size: 20px;
	   color: white;
	   text-align: left;
	   margin-left: 180px;
	   margin-bottom: 30px;}

.link3{font-size: 20px;
	   color: white;
	   text-align: right;
	   margin-left: 240px;
	   margin-bottom: 30px;}

.link4{font-size: 20px;
	   color: white;
	   text-align: right;
	   margin-left: 260px;
	   margin-bottom: 30px;}

.row1{background-color: #D1C4F5;
	  width:100vw;}

.row2{background-color: #9372ED;
	  width:100vw;}

.design{font-size:60px; 
		color:white; 
		text-align:center; 
		padding-top:210px;
		padding-bottom:210px;}

.design1{font-size:40px; 
		color:black; 
		text-align:center; 
		padding-top:50px;
		padding-bottom:30px;
		margin-bottom: 0px;
		margin-top: 0px;
		width:100wv;
		outline: none;
		background-color:#F7E2D0;}

.design2{font-size:40px; 
		color:black; 
		text-align:center; 
		padding-top:50px;
		padding-bottom:30px;
		margin-bottom: 0px;
		margin-top: 0px;
		width:100wv;
		outline: none;
		background-color:#FCD9BB;}

.parragraphdesign1{font-size:20px;
	              color:gray;
	              text-align: center;
	              width:100%;
	              padding-bottom:50px;
	              margin-bottom: 0px;
	              margin-top: 0px;
	              outline: none;
	              background-color:#F7E2D0;}

.parragraphdesign2{font-size:20px;
	              color:gray;
	              text-align: center;
	              width:100%;
	              padding-bottom:50px;
	              margin-bottom: 0px;
	              margin-top: 0px;
	              outline: none;
	              background-color:#FCD9BB;}

body {background-color:#F7E2D0; 
	 font-family:'Quicksand';
	 outline:none;}